*main.html
*main.py
*pyc
jsoncache
*json
_data_cache
javascript-dom_manipulation/babel.config.js
javascript-dom_manipulation/eslint.config.mjs
javascript-dom_manipulation/.eslintignore
javascript-dom_manipulation/.eslintrc.js
python-object_relational_mapping/6-model_state.sql
python-object_relational_mapping/7-model_state_fetch_all.sql
python-server_side_rendering/00_test.py
python-server_side_rendering/db_maker.py
python-server_side_rendering/products.csv
python-server_side_rendering/products.db
python-server_side_rendering/task_01_jinja.py
python-server_side_rendering/templates/product_source.html
python-server_side_rendering/templates/products.db
node_modules